.App {
  text-align: center;
  align-content: center;
  margin: 0 auto;
}

.App h1 {
  width: 100%;
  max-width: 850px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-box-shadow: 10px 10px 51px 16px rgb(226, 191, 147);
  -moz-box-shadow: 10px 10px 51px 16px rgb(226, 191, 147);
  box-shadow: 10px 10px 51px 16px rgb(226, 191, 147);
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
