.card-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 51px 16px rgb(226, 191, 147);
    -moz-box-shadow: 10px 10px 51px 16px rgb(226, 191, 147);
    box-shadow: 10px 10px 51px 16px rgb(226, 191, 147);
}


 .attr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .attr .attr {
    font-size: 40px;
    font-weight: bold;
}

.attr .char-name {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
}

.attr h2 {
    margin-right: 15px;
    font-style: italic;
    font-family: monospace;
}

.attr .char-height {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.attr .char-mass {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.attr .char-hair-color {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.attr .char-skin-color {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.attr .char-eye-color {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.attr .char-birth-year {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}

.attr .char-gender {
    margin-right: 5px;
    font-style: italic;
    font-family: monospace;
    font-size: 25px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
}